POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=replace-with-random-password
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=replace-with-random-django-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,REPLACE_WITH_VM_IP
DOCKERHUB_USERNAME=mezhnun
IMAGE_TAG=latest
GATEWAY_PORT=9000
